[submodule "vim/vim/bundle/vundle"]
	path = vim/vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
    ignore = dirty
[submodule "vim/vim/bundle/TabBar"]
	path = vim/vim/bundle/TabBar
	url = https://github.com/humiaozuzu/TabBar.git
[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vim/bundle/tagbar"]
	path = vim/vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/vim/bundle/vim-colorschemes"]
	path = vim/vim/bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "vim/vim/bundle/ctrlp.vim"]
	path = vim/vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/vim/bundle/emmet-vim"]
	path = vim/vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "vim/vim/bundle/syntastic"]
	path = vim/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/vim/bundle/vim-surround"]
	path = vim/vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/vim/bundle/vim-indent-guides"]
	path = vim/vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/vim/bundle/neocomplete.vim"]
	path = vim/vim/bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "vim/vim/bundle/supertab"]
	path = vim/vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/vim/bundle/jedi-vim"]
	path = vim/vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim/vim/bundle/thrift.vim"]
	path = vim/vim/bundle/thrift.vim
	url = https://github.com/solarnz/thrift.vim.git
[submodule "vim/vim/bundle/python-mode"]
	path = vim/vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "vim/vim/bundle/vim-jinja"]
	path = vim/vim/bundle/vim-jinja
	url = https://github.com/mitsuhiko/vim-jinja.git
[submodule "vim/vim/bundle/vim-go"]
	path = vim/vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/vim/bundle/ack.vim"]
	path = vim/vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/vim/bundle/vim-javascript"]
	path = vim/vim/bundle/vim-javascript
	url = http://github.com/pangloss/vim-javascript.git
[submodule "vim/vim/bundle/vim-jsx"]
	path = vim/vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "vim/vim/bundle/vim-airline"]
	path = vim/vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
